body {
	background: url("backgrond.jpg") black !important;
	background-repeat: no-repeat;
	background-position: center;
}

.form {
	background: black;
}

.logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 30%;
}

.NavBar {
	border-radius: 0px !important;
}

.formTemplate {
	margin-right: 6%;
	margin-left: 6%;
}

.imgProc {
	width: 40% !important;
}

.grade>tbody>tr>td {
	width: 30% !important;
	text-align: center;
	vertical-align: middle;
}

.ui-button-text.ui-c {
	font-size: 14px !important;
	width: 38px !important;
	height: 26px !important;
	padding-bottom: 6px !important;
	padding-top: 6px !important;
	padding-left: 12px !important;
	padding-right: 12px !important;
}

.deletButt {
	width: auto !important;
	bottom: 5px !important;
	top: 4px !important;
}